/* Write your CSS here! */

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: center;
  }

#mainHeading{
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: red;
  text-align: center;
}

#college{
    outline-style: solid;
}

body{
    margin: 8px;
    display:block
}

#testP{
    color: green;
}

.LC{
    background-color: pink;
}

img{
    border-radius: 50%;
height: 500px;
}